{%load i18n events_tags%}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico"/>
    <meta name="keywords" content="events, online registration, sell tickets, event management, credit cards, online payments"/>
    <meta name="robots" content="index, follow"/>
    <meta name="description" content="Django Events gives you all the online tools you need to bring people together for an event and sell tickets."/>
    <link rel="image_src" href="#"/>
    <title>Django Events - {%trans "Sell Tickets Online"%}</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/home.css"/>
    {%block extra_header%}{%endblock%}
</head>
<body>
<div id="header">
    <div id="header_content">
        <a id="logo" href="{%url home%}">
            <h1>Logo</h1>
        </a>
        <div id="ticket_counter">
            <span class="strong">
                {%count_sold_tickets%}
            </span>
            <span>{%trans "Tickets sold"%}</span>
        </div>

        <div id="lang-auth">
            LANGUAGE
            {%if request.user.is_authenticated%}
                <span style="margin-left:10px;">
                    {%trans "Signed in as"%}:
                    {{request.user.email}}
                </span>
                <a href="{%url logout%}">{%trans "Log out"%}</a>
            {%else%}
                <a href="{%url login%}">{%trans "Log in"%}</a>
                <a href="{%url register%}">{%trans "Sign up"%}</a>
            {%endif%}
        </div>
        
        <ul id="header_nav">
            <li style="margin-bottom:7px;">
                <a href="{%url create-event%}">{%trans "Create an event"%}</a>
            </li>
        </ul>
    </div>
</div>

<div id="home_container">
    {%block top_slider%}{%endblock%}

    <section id="event_discovery" class="clrfix">
        {%block content%}{%endblock%}
    </section>
</div>

<div id="footer">    
    <div id="fine_print">
        FOOTER
    </div>
</div>

</body>
</html>
