{%extends 'events/base.html'%}
{%load i18n%}

{%block content%}
    <div class="event-detail" style="width:599px;min-height:220px;float:left;border-right:1px dotted #ccc;">
        <h1>{%trans "CART"%}</h1>
        <h2 style="margin-top:20px;">{%trans "Order summary"%}</h2>
        <table class="tickets" style="width:100%;">
            <thead>
                <tr>
                    <th>{%trans "TICKET TYPE"%}</th>
                    <th>{%trans "PRICE"%}</th>
                    <th>{%trans "QUANTITY"%}</th>
                    <th>{%trans "TOTAL"%}</th>
                </tr>
            </thead>
            <tbody>
                {%for ticket_order in cart%}
                    <tr>
                        <td>
                            {{ticket_order.ticket.name}}
                            <p class="description">{{ticket_order.ticket.description}}</p>
                        </td>
                        <td>{{ticket_order.ticket.price|floatformat:2}}</td>
                        <td>{{ticket_order.quantity}}</td>
                        <td>{{ticket_order.total_price|floatformat:2}}</td>
                    </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="text-align:right;">
                        {%trans "TOTAL AMOUNT DUE"%}:
                    </td>
                    <td><strong>{{cart.summary|floatformat:2}}</strong></td>
                </tr>
            </tfoot>
        </table>
        <a href="{%url cart-clear%}" id="clear" class="action_button action_button_go" style="margin:10px 5px;">
            {%trans "Clear cart"%}
        </a>
    </div>
    <div class="checkout-form">
        {%include 'events/cart_checkout_ajax.html'%}
    </div>
    <div class="ajax-loader">{%trans "Your payment is being processed"%}</div>
    <div class="ajax-success">
        {%trans "Your payment has been accepted. Thank you!"%}<br/><br/>
        <a href="{%url home%}">{%trans "Go back home"%}</a>
    </div>
    <div class="ajax-failure">
        {%trans "Sorry, your payment could not be processed."%}<br/><br/>
        {%trans "Please try again later."%}
    </div>
{%endblock%}