{%extends 'events/base.html'%}
{%load i18n%}

{%block content%}
    <div class="auth-form" style="padding:30px;">
        <form action="{%url login%}" method="POST">
            {%csrf_token%}
            {%for field in form%}
                <div style="margin-top:10px;">
                    {{field.label_tag}} {{field}}
                    {%if field.errors%} <br/>{{field.errors}} {%endif%}
                </div>
            {%endfor%}
            {%if incorrect_data%}
                <div class="error">
                    {%trans "User with given e-mail/password does not exist."%}
                </div>
            {%endif%}
            <input type="submit" value="{%trans "Log in"%}"/>
        </form>
    </div>
{%endblock%}